/* Customização das setas do Slider */
:root {
  --swiper-theme-color: #7e22ce; /* Roxo do seu menu */
  --swiper-navigation-size: 25px; /* Tamanho das setas */
}

/* Deixa as setas mais visíveis com um fundo leve */
.swiper-button-next, .swiper-button-prev {
  background-color: rgba(255, 0, 0, 0.7);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 16px !important;
  font-weight: bold;
}